

body {
  padding : 0px;
  margin : 0px;
  display : flex;
  align-items : center;
  justify-content : center;
  width : 100vw;
  height : 100vh;
  background-color :navy;
}

.hide {
  display : none;
}

.container{
  width : 500px;
  max-width : 80%;
  padding : 10px;
  background-color : white;
  border-radius : 5px;
}

.btn-grid {
  display : grid;
  grid-templates-columns : repeat(2, auto);
  gap : 10px;
  margin : 20px 0px;
  border-radius : 5px;
}

.btn {
  background-color : blue;
  color : white;
  outline : none;
  border-radius : 5px;
  align-items : center;
  justify-content : center;
  padding : 10px;
}

.btn:hover {
  border-color : black;
  background-color : white;
  color : blue;
}

.score{
  background-color: blue;
  color : white;
  outline : none;
  align-items ; center;
  justify-content : center;
  padding : 10px;
  margin : 20px 0px;
  gap : 10px;
}